<div class="pt-4">
  <hr class="bg-white">
</div>

<div class="container-fluid p-5 pb-1" style="font-family: jost,serif; user-select: none">
  <div class="row">

    <div class="col-lg-3 col-md-6 col-sm-12 footer-block p-5 pt-0 d-flex flex-column align-items-center">
      <h5 class="text-black opacity-50 pe-3">COMPANY</h5>
      <div>
        <ul class="list-unstyled">
          <li class="p-2 ps-0"><a class="link-end1 text-decoration-none text-black link-1" href="/">About Us</a></li>
          <li class="p-2 ps-0 pt-0"><a class="link-end2 text-decoration-none text-black link-2" href="/">Contact</a></li>
          <li class="p-2 ps-0 pt-0"><a class="link-end3 text-decoration-none text-black link-3" href="/">Store Locations</a></li>
          <li class="p-2 ps-0 pt-0"><a class="link-end4 text-decoration-none text-black link-4" href="/">Careers</a></li>
        </ul>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-12 footer-block pt-0 pe-5 ps-5 d-flex flex-column align-items-center">
      <div class="pe-5">
        <h5 class="text-black opacity-50">HELP</h5>
      </div>
      <div>
        <ul class="list-unstyled">
          <li class="p-2 ps-0"><a class="link-end1 text-decoration-none text-black link-5" href="/">Order Tracking</a></li>
          <li class="p-2 ps-0 pt-0"><a class="link-end2 text-decoration-none text-black link-6" href="/">FAQ's</a></li>
          <li class="p-2 ps-0 pt-0"><a class="link-end3 text-decoration-none text-black link-7" href="/">Privacy Policy</a></li>
          <li class="p-2 ps-0 pt-0"><a class="link-end4 text-decoration-none text-black link-8" href="/">Terms & Conditions</a></li>
        </ul>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-12 footer-block p-5 pt-0 d-flex flex-column align-items-center">
      <h5 class="text-black opacity-50 pe-3">STORE</h5>
      <div>
        <ul class="list-unstyled">
          <li class="p-2 ps-0"><a class="link-end1 text-decoration-none text-black link-9" href="/">Women</a></li>
          <li class="p-2 ps-0 pt-0"><a class="link-end2 text-decoration-none text-black link-10" href="/">Men</a></li>
          <li class="p-2 ps-0 pt-0"><a class="link-end3 text-decoration-none text-black link-11" href="/">Speakers</a></li>
        </ul>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-12 footer-block pe-5 ps-5 pt-0 d-flex flex-column align-items-center">

      <h5 class="text-black opacity-50 pe-3">FOLLOW US</h5>
      <h6 class="text-black opacity-75 pe-2 pt-2">And get Free Shipping on all your orders!</h6>
      <div class="col-3">
        <ul class="d-flex justify-content-center list-unstyled">
          <li class="pe-3 pt-2">
            <a href="/" class="link-icon">
              <img src="assets/images/fb.png" alt="facebook" style="height: 35px; width: 35px;">
            </a>
          </li>
          <li class="pe-3 ps-4 pt-2">
            <a href="/" class="link-icon">
              <img src="assets/images/inst.png" alt="instagram" style="height: 35px; width: 35px;">
            </a>
          </li>
          <li class="pe-3 ps-4 pt-2">
            <a href="/" class="link-icon">
              <img src="assets/images/tik.png" alt="tiktok" style="height: 35px; width: 35px;">
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>


<div class="footer-container d-flex flex-column justify-content-center align-items-center" style="font-family: jost,serif; user-select: none">
  <h3 class="pb-3">Sign up now & get 10% off</h3>
  <h6 class="pb-3 opacity-75">Be the first to know about our new arrivals and exclusive offers.</h6>
  <div class="input-container d-flex">
    <div class="input-cover pe-2">
      <input type="text" size="40" placeholder="Your email address" class="input1">
    </div>
    <a href="/"><input type="submit" value="Sign up" class="input2"></a>
  </div>
</div>


<div class="pt-5">
  <hr class="bg-white">
</div>

<div class="d-flex flex-wrap justify-content-center align-items-center pt-2 pb-3" style="font-family: jost,serif; user-select: none">
  <div class="d-flex flex-wrap justify-content-center col-lg-4 col-md-6 col-sm-12">
    <a class="link-end-1 text-decoration-none text-black me-3 mb-2" href="/">Privacy Policy</a>
    <a class="link-end-2 text-decoration-none text-black ms-3 mb-2" href="/">Terms & Conditions</a>
  </div>
  <div class="col-lg-4 col-md-6 col-sm-12 text-center text-lg-end mt-2 mt-md-0">
    <h6 class="text-black text-center opacity-50">©2023 RIPPER - Footer Theme</h6>
  </div>
</div>

