<div [style.display]="cartBlock ? 'block' : 'none'">
  <a routerLink="/products" class="text-decoration-none text-black d-flex justify-content-end" (click)="OpenCart()"  style="padding-right: 7%">
    <div class="d-flex flex-column justify-content-center align-items-center position-absolute position-fixed rounded-circle bg-white" style="width: 5%; top: 22%; min-width: 75px">
      <img src="assets/images/cart.png" alt="cart" class="user-select-none"  style="width: 60%; height: 10%">
      <h4 style="font-family: jost, serif;">Cart</h4>
    </div>
  </a>
</div>


<div class="overlay" [style.display]="cartOpen ? 'block' : 'none'">
  <div class="d-flex align-items-center justify-content-center" style="height: 100vh;">

    <div class="cart-modal">

      <!-- Cart header -->
      <div class="d-flex">

        <h1 class="col-11">Your Cart</h1>
        <div class="cl-btn-2" (click)="CloseCart()">
          <div>
            <div class="leftright"></div>
            <div class="rightleft"></div>
            <span class="close-btn"></span>
          </div>
        </div>

      </div>

      <!-- Cart item container with scroll -->
      <div class="cart-item-container" style="max-height: 530px; overflow-y: auto;">
        <div class="d-flex flex-wrap">
          <div style="border: black 3px solid; height: 370px; width: 215px;" class="product-block m-3" *ngFor="let cartItem of cart; let i = index">
            <div class="d-flex flex-column justify-content-between align-content-around" *ngFor="let product of productsForCart">
              <ng-container class="d-flex col-3 " *ngIf="product.id === cartItem.productId">

                <div class="">
                  <div class="w-100 d-flex flex-column align-items-center" style="height: 220px">
                    <img [src]="product.image" alt="Product Image" class="product-image mt-2" style="height: 100px; width: 80px;" />
                    <div class="d-flex w-100 p-3 pb-1">
                      <p class="product-title" style="font-family: jost, serif">{{ product.title }}</p>
                    </div>
                    <button class="btn btn-outline-primary btn-remove" (click)="removeFromCart($event, i)">&times;</button>
                  </div>

                  <div class="d-flex justify-content-between align-items-end">
                    <div class="d-flex justify-content-end flex-column" style="height: 150px; width: 300px;">
                      <div class="pe-3 ps-3 d-flex justify-content-between">
                        <p class="product-price d-block" style="font-family: jost, serif">
                          Price: {{ (product.price * cartItem.quantity).toFixed(1) }}
                        </p>
                      </div>
                      <div class="pe-3 ps-3 d-flex">
                        <p style="font-family: jost, serif" class="pe-2">Quantity:</p>
                        <input type="number" class="mb-2" style="width: 40px; height: 25px" [(ngModel)]="cartItem.quantity" min="1" max="30">
                      </div>
                    </div>
                    <button type="button" class="btn btn-outline-primary me-3  mb-4" (click)="editCartItem(cartItem, i)" style="width: 70px; height: 45px">Edit</button>
                  </div>
                </div>

              </ng-container>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>







<div class="container-fluid col-12 d-flex justify-content-center">

  <div class="d-flex justify-content-center pt-5 pb-2 col-9 flex-wrap user-select-none">
    <div class="pe-5 ps-5 p-3">
      <button class="pe-5 ps-5 buttons" (click)="SortDesc()" [style.display]="sortDesc ? 'none' : 'block'">Sort</button>
      <button class="pe-5 ps-5 buttons" (click)="SortAsc()"  [style.display]="sortAsc ? 'none' : 'block'">Sort</button>
    </div>
    <div *ngFor="let Categories of categories">
      <div class="pe-5 ps-5  p-3">
        <button class="pe-5 ps-5 buttons" (click)="SelectCategory(Categories)">{{Categories}}</button>
      </div>
    </div>
  </div>

</div>


<div class="container-fluid d-flex flex-wrap justify-content-around">
  <div class="row" style="width: 100%">
    <div class="col-12 col-lg-3 col-md-6 col-sm-12 p-2 pt-5 pb-5 d-flex flex-column align-items-center justify-content-center" *ngFor="let product of products">
      <div class="block" style="height: 700px; width: 100%; max-width: 385px">

        <div class="d-flex justify-content-center pt-1" style="border-radius: 0 30px 0 30px; border: black 3px solid">
          <img [src]="product.image" style="height: 400px; width: 100%; max-width: 365px;" class="pt-1 user-select-none" alt="Product Image">
        </div>
        <div style="height: 16%" class="ps-4 pe-3 pb-5 pt-4">
          <h6 class="text-white" style="font-family: jost, serif">{{ product.title}}</h6>
        </div>

        <div>
          <div class="d-flex ps-4 pt-3">
            <img src="../../assets/images/category.png" alt="categories" class="user-select-none" style="width: 20px; height: 20px; filter: invert(100%)">
            <p class="ps-2 text-white" style="font-family: jost, serif">{{product.category}}</p>
          </div>

          <p class="text-white ps-4" style="font-family: jost, serif">Price: {{ product.price }}</p>

          <ngb-rating [(rate)]="product.rating.rate" [max]="5" class="user-select-none" style="filter: invert(100%); height: 30px; scale: 1.5; padding-left: 31px"></ngb-rating>
          <p class="text-white ps-4 pt-2" style="overflow: hidden">Rate: <b>{{product.rating.rate}}</b>
            <button (click)="addToCart(product)" class="mb-1 ms-5 btn btn-primary">Add to Cart</button>
          </p>

        </div>

      </div>
    </div>
  </div>
</div>


