<section class="pt-5 pb-5">
  <div class="container pt-5">
    <div class="row">
      <div class="col">
        <nav aria-label="breadcrumb" class="card rounded-3 p-3 mb-4" style="user-select: none">
          <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item">Home</li>
            <li class="breadcrumb-item">User</li>
            <li class="breadcrumb-item active" aria-current="page">User Profile</li>
          </ol>
        </nav>
      </div>
    </div>

    <div class="row" style="height: 391px">
      <div class="col-lg-4" >
        <div class="card mb-4" style="height: 94%; padding-top: 5px">
          <div class="card-body text-center">
            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
                 class="rounded-circle img-fluid" style="width: 150px; user-select: none">
            <h5 class="my-3">{{username}}</h5>
            <p class="text-muted mb-1">Welcome To Your Profile!</p>
            <p class="text-muted mb-4">How Are You Today?</p>
            <div class="d-flex justify-content-center mb-2">
              <button type="button" class="btn btn-outline-primary ms-1" (click)="editProfile()" *ngIf="!isEditing">Edit</button>
              <button type="button" class="btn btn-outline-primary ms-1" (click)="confirmProfile()" *ngIf="isEditing">Confirm</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="card mb-4">
          <div class="card-body d-flex flex-column align-content-center justify-content-center">
            <div class="row p-2" style="height: 45px">
              <div class="col-sm-3">
                <p class="mb-0">Full Name</p>
              </div>
              <div class="col-sm-9 d-flex">
                <p class="text-muted mb-0" *ngIf="!isEditing">{{ name.firstName }} {{ name.lastName }}</p>
                <input type="text" class="form-control form-control-sm" [(ngModel)]="name.firstName" *ngIf="isEditing">
                <input type="text" class="form-control form-control-sm" [(ngModel)]="name.lastName" *ngIf="isEditing">
              </div>
            </div>
            <hr>
            <div class="row p-2" style="height: 45px">
              <div class="col-sm-3">
                <p class="mb-0">Email</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0" *ngIf="!isEditing">{{ email }}</p>
                <input type="text" class="form-control form-control-sm" [(ngModel)]="email" *ngIf="isEditing">
              </div>
            </div>
            <hr>
            <div class="row p-2" style="height: 45px">
              <div class="col-sm-3">
                <p class="mb-0">Phone</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0" *ngIf="!isEditing">{{ phone }}</p>
                <input type="text" class="form-control form-control-sm" [(ngModel)]="phone" *ngIf="isEditing">
              </div>
            </div>
            <hr>
            <div class="row p-2" style="height: 45px">
              <div class="col-sm-3">
                <p class="mb-0">Mobile</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0" *ngIf="!isEditing">{{ phone }}</p>
                <input type="text" class="form-control form-control-sm" [(ngModel)]="phone" *ngIf="isEditing">
              </div>
            </div>
            <hr>
            <div class="row p-2" style="height: 45px">
              <div class="col-sm-3">
                <p class="mb-0">City</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0" *ngIf="!isEditing">{{ city }}</p>
                <input type="text" class="form-control form-control-sm" [(ngModel)]="city" *ngIf="isEditing">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
